Repository TACC/tup-ui, pull requests merged in 2023-12, with the labels that each got.

#387 sub-task/tup-580 Make footer button small 10px
  apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/for-tup-cms/components/c-footer.css
Labels: tup-ui, tup-cms

#385 feat: TUP-631 migrate blog page css to core-cms
  apps/tup-cms/Dockerfile
  apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/for-core-cms/components/django.cms.blog.app.page.css
  apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/tup-cms.for-core-cms.css
  package-lock.json
  package.json
Labels: migrate css to core

#394 fix: tup 595 accessibility
  apps/tup-cms/Dockerfile
  apps/tup-cms/src/taccsite_cms/templates/snippets/js-new-tab-new-window-accessibility.html
  apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/for-tup-cms/components/c-footer.css
Labels: tup-cms

#401 task/tup-670 Footer branding visible on mobile and safari
  apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/for-tup-cms/components/c-footer.css
Labels: tup-ui
